body {
	background-image:url('/static/img/standingFans.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
}

img {
	max-width:100%;
}

.main-container{
	margin:20px;
}

.project_wrap {
	display:table;
}
.project {
	display:table-cell;
}

.project_keys {
	display:table-cell;
}

.project_key_referrers {
	display:table-cell;
}

.project_backers {
	display:table-cell;
}


/** Project Leaderboard **/

.project-title {
	font-size:2em;
}
.project-author {
	font-size:1.7em;
}
.project-clicks {
	font-size:1.3em;
}

.project-leaderboard {
	margin:20px;
}

.backer {
	display:table;
}
.backer-rank {
	display:table-cell;
	width:75px;
	font-size:4em;
	margin:20px;
	vertical-align:middle;
}
.backer-info {
	display:table-cell;
	width:300px;
	vertical-align:middle;
}
.backer-stats {
	display:table-cell;
	width:200px;
	margin:20px;
	vertical-align:middle;
}
.backer-badges {
	display:table-cell;
	width:200px;
	margin:20px;
	vertical-align:middle;
}

img.thumb {
	margin:5px 10px;
	float:left;
}

/** URL Signup **/
.signup {
	width:340px;
	margin:10px;
}


#your-link {
	display:none;
}

#your-link-area {
	margin-top:15px; 
	font-size:1.6em;
}

.index-project-leaderboard {
	height:75px;
}
.index-project-author {
	font-size:1em;
}
.index-project-title {
	margin-top:20px;
	font-size:1.3em;
}
.index-project-clicks {
	font-size:1.3em;
}

/** Markitechture **/
.buzzword-wrapper {
	padding:0;
}
.buzzword-head {
	width:550px;
	margin:0;
	padding:0;
}
.buzzword-elem {
	display:table;
	vertical-align:middle;
	width:550px;
}
.bw-text {
	display:table-cell;
	vertical-align:middle;
	width:300px;
}
.bw-screen {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	width:240px;
	padding:5px 0px 5px 20px;
}

