{% extends 'base.html' %}

{% block header %}
    <script type='text/javascript' src='/static/js/kickbacker.js'></script>
    <script type='text/javascript' src='/static/js/bootstrap-tooltip.js'></script>
    <script type='text/javascript' src='/static/js/bootstrap-popover.js'></script>
    <script type='text/javascript' src='/static/js/jquery.tmpl.min.js'></script>
    <script type='text/javascript'>
    $(function () {
        var project_id = $('#project_id').val();
        load_prizes(project_id);
        $('#tbl-prizes').on('click', 'tbody tr', function(event) {
            $(this).addClass('highlight').siblings().removeClass('highlight');
            console.log('clicked');
        });
    });
    function save_kickback() {
        var project_id = $('#project_id').val();
        var kickback_id = $("input[name='chosen-prize']:checked").val()
        if (kickback_id === undefined) {
          window.alert('Please select a KickBack and try again.');
        }
        else {
            $.ajax({ 'type': 'POST',
                   'async': false, 
                   'success': function () { window.location = '/'+project_id+'/leaderboard?first=1';},
                   'cache': false,
                   'datatype': 'json',
                   'data': {
                        'kickback_id': kickback_id
                   },
                   'url': '/project/'+project_id+'/save/'
                   });
        }

    }




  </script>

<!-- Dont Judge Me -->
<!-- Doesnt Work Still -->
<style type="text/css">
table-striped tbody tr.highlight td { background-color: red; }
</style>
{% endblock header %}

{% block content %}
  <input type='hidden' value="{{project['id']}}" name='pid' id="project_id">

  <div class="row">
    <div class="span7 well">

     <div id='loading-div' style='align:center;margin:20px;'> 
       <h3> <img src='/static/img/spinner.gif'> Loading Backer Rewards from Kickstarter</h3>
    </div>
    <div id='reward-title' style="margin-bottom:15px;display:none;">
         <h3>Select a KickBack to give to your Backers</h3>
    </div>
  <table id='tbl-prizes' class="table table-striped table-bordered">
    <!--jquery Template-->
    <script id="prizes-tmpl" type="text/x-jQuery-tmpl">
        <tr id="prize-${id}">
         <td>
          <label>
          <p>
            <input style='margin:30px 30px 30px 0px;float:left;' type='radio' name='chosen-prize' value='${id}'> 
            <b>The $${value} Reward</b><br>
            ${shortdesc} <a rel='popover' id='prize-desc-${id}' href='#' data-original-title='${title}' data-content='${desc}'>Full Description</a>
          </p>
         </label>
        </td>
        </tr>
    </script>
  </table>

      <div id='your-link'>
        <textarea id='your-link-area' class='input-xlarge'>
        </textarea>
        <span class='help-inline'>
          {% if lead_type == 'backer' %}
            Copy Your Link and Go!
          {% else %}
            Copy Your Link, Share with your Backers and Go!
          {% endif %}
        </span>
      </div>
    <button id='reward-select' style='float:right;display:none;' onclick='save_kickback()' class="btn btn-primary">Select Kickback</button>
  </div>
 </div>
{% endblock content %}
