
{% block header %}
 <script type='text/javascript' src='/static/js/kickbacker.js'></script>
 <script type='text/javascript' src='/static/js/bootstrap-tooltip.js'></script>
 <script type='text/javascript' src='/static/js/bootstrap-popover.js'></script>
 <script type='text/javascript' src='/static/js/bootstrap-modal.js'></script>

 <script type='text/javascript'>
$(function () {
  var poptions = { 'placement': 'left' };
  $('#ks-url-help').popover(poptions);
  $('#ks-profile-help').popover(poptions);
  $('#ks-email-help').popover(poptions);
  $('#ks-url').keyup(function() {
    url = $('#ks-url').val();
    if (is_valid_kickstarter_url(url, 'project') == false) {
       $('#ks-url').addClass('error');
       $('#go').attr('disabled', 'disabled');
    } else {
       $('#ks-url').removeClass('error');
        if (is_valid_submit() == true) {
          $('#go').removeAttr('disabled');
        }
    }
  });
  $('#ks-profile').keyup(function() {
    url = $('#ks-profile').val();
    if (is_valid_kickstarter_url(url, 'backer') == false) {
       $('#ks-profile').addClass('error');
       $('#go').attr('disabled', 'disabled');
    } else {
       $('#ks-profile').removeClass('error');
        if (is_valid_submit() == true) {
          $('#go').removeAttr('disabled');
        }
    }
  });
  $('#ks-email').keyup(function() {
    if (is_valid_email() == false) {
       $('#ks-email').addClass('error');
       $('#go').attr('disabled', 'disabled');
    } else {
       $('#ks-email').removeClass('error');
        if (is_valid_submit() == true) {
          $('#go').removeAttr('disabled');
        }
    }
  });
});
</script>

{% endblock header %}

{% block content %}

<div class='signup'>

  <form class="form-vertical well" >
   <h2>Get Your KickBacker Link</h2> 
   <fieldset class="control-group">
      {% if lead_type == 'backer' %}
          <!-- Project Header -->
          <div id='project-{{project.id}}' class='index-project-leaderboard'>
            <p>
            <a href="http://kickstarter.com/{{project.link}}"><img src='{{project.img}}' width='100px' class='thumb'></a>
            <h3>Supporting</h3>
            <a href="http://kickstarter.com/{{project.link}}"><span class='index-project-title'>{{ project.name }}</span></a>
              <br>
              <span class='index-project-author'>by <a href="http://kickstarter.com/{{project.author_link}}">{{project.author}}</a></span>
              <br><br>
              {% if backers %}
                <span class='project-clicks'>{{ backers|length }} Kickbackers</span>
              {% endif %}
            </p>
          </div>
        <hr>
      {% endif %}
      <!-- Begin Email Info -->
      <div class="control-group">
         <label class="control-label">Email Address:
            <span class='help-inline'>
              <a style='font-size:10px;' id='ks-email-help' rel='popover' href='#' data-original-title='Email Address' data-content='We will use your email address to identify your projects. We will only send you emails about your KickBacker account and project progress. We will never rent, sell, barter or exchange your information for any other purpose.'>Why?</a>
            </span>
          </label>
        <div class="controls">
          <input id="ks-email" name="email" type="text" class='input-xlarge'>
        </div>
      </div>
      <!-- Begin Project Info -->
      {% if lead_type == 'backer' %}
        <input id="kb-type" name="kb-type" type="hidden" value="backer">
        <input id="ks-url" name="url" type="hidden" value="{{ project.link }}">
      {% else %}
        <input id="kb-type" name="kb-type" type="hidden" value="owner">
        <div class="control-group">
          <label class="control-label">Kickstarter Project Link: 
            <span class='help-inline'>
              <a style='font-size:10px;' id='ks-url-help' rel='popover' href='#' data-original-title='Kickstarter Project Link' data-content='Enter the Link of the project you wish to promote. You can get the kickstarter project Link by going to the Kickstarter page for that project, and copy and pasting the link here. <br><br> It will look like this: <b>http://kickstarter.com/projects/project-shortname-or-id/full-project-name</b>'>What is this?</a>
            </span>
          </label>
          <div class="controls">
            <input id="ks-url" name="url" type="text" class='input-xlarge' value='http://kickstarter.com/projects/1418932/the-five-points'>
          </div>
        </div>
      {% endif %}
      <!-- Begin Backer Info -->
      <div class="control-group">
        <label class="control-label">Kickstarter Profile Link:
            <span class='help-inline'>
              <a style='font-size:10px;' id='ks-profile-help' rel='popover' href='#' data-original-title='Kickstarter Profile Link' data-content='You can get your kickstarter profile link by logging into Kickstarter, going to your profile page, and copy and pasting the link here. <br><br> It will look like this: <b>http://kickstarter.com/profile/your-name-or-id</b>'>What is this?</a>
            </span>
          </label>
        <div class="controls">
          <input id="ks-profile" name="ks-profile" type="text" class='input-xlarge' value="http://www.kickstarter.com/profile/1263719778">
        </div>
      </div>
      <div id="button-div">
        <button onclick='create_project()' class="btn btn-primary" type="button" style='float:right;'>
          {% if lead_type == 'backer' %}
            Start Earning Kickbacks!
          {% else %}
            Sign Up!
          {% endif %}
        </button>
      </div>
  </fieldset>
  </form>
</div>

<!-- Backer Signup Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Share this link with your Network!</h3>
  </div>
  <div class="modal-body">
    <div id='your-link'>
      <textarea id='your-link-area' class='input-xlarge'>
      </textarea>
      <span class='help-inline'>
        {% if lead_type == 'backer' %}
          Copy Your Link and Go!
        {% else %}
          Copy Your Link, Share with your Backers and Go!
        {% endif %}
      </span>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>


{% endblock content %}
