
{% block header %}
 <script type='text/javascript' src='/static/js/kickbacker.js'></script>
 <script type='text/javascript' src='/static/js/bootstrap-tooltip.js'></script>
 <script type='text/javascript' src='/static/js/bootstrap-popover.js'></script>

 <script type='text/javascript'>
$(function () {
  var poptions = { 'placement': 'left' };
  $('#ks-url-help').popover(poptions);
  $('#ks-profile-help').popover(poptions);
  $('#ks-url').keyup(function() {
    url = $('#ks-url').val();
    if (is_valid_kickstarter_url(url) == false) {
       $('#ks-url').addClass('error');
       $('#go').attr('disabled', 'disabled');
    } else {
       $('#ks-url').removeClass('error');
        if (is_valid_kickstarter_url($('#ks-profile').val()) == true) {
          $('#go').removeAttr('disabled');
        }
    }
  });
  $('#ks-profile').keyup(function() {
    url = $('#ks-profile').val();
    if (is_valid_kickstarter_url(url) == false) {
       $('#ks-profile').addClass('error');
       $('#go').attr('disabled', 'disabled');
    } else {
       $('#ks-profile').removeClass('error');
        if (is_valid_kickstarter_url($('#ks-url').val()) == true) {
          $('#go').removeAttr('disabled');
        }
    }
  });
});
</script>

{% endblock header %}

{% block content %}

<div class='signup'>

  <form class="form-vertical well" >
   <h2>Get Your KickBacker Link</h2> 
   <fieldset class="control-group">
      {% if lead_type == 'backer' %}
          <input id="ks-url" name="url" type="hidden" value="{{ project['url'] }}">
          <div id='project-{{project.id}}' class='index-project-leaderboard'>
            <p>
            <a href="http://kickstarter.com/{{project.link}}"><img src='{{project.img}}' width='100px' class='thumb'></a>
            <h3>Supporting</h3>
            <a href="http://kickstarter.com/{{project.link}}"><span class='index-project-title'>{{ project.name }}</span></a>
              <br>
              <span class='index-project-author'>by <a href="http://kickstarter.com/{{project.author_link}}">{{project.author}}</a></span>
              <br><br>
              {% if backers %}
                <span class='project-clicks'>{{ backers|length }} Kickbackers</span>
              {% endif %}
            </p>
          </div>
        <hr>
      {% else %}
        <div class="control-group">
          <label class="control-label">Kickstarter Project URL: 
            <span class='help-inline'>
              <a style='font-size:10px;' id='ks-url-help' rel='popover' href='#' data-original-title='Kickstarter Project URL' data-content='Enter the URL of the project you wish to promote. You can get the kickstarter project URL by going to the Kickstarter page for that project, and copy and pasting the link here. <br><br> It will be in the format <b>http://kickstarter.com/projects/project-shortname-or-id/full-project-name</b>'>What is this?</a>
            </span>
          </label>
          <div class="controls">
            <input id="ks-url" name="url" type="text" class='input-xlarge' placeholder='http://kickstarter.com/projects/307436684/three-and-a-half-pike'>
          </div>
        </div>
      {% endif %}
      <div class="control-group">
        <label class="control-label">Kickstarter Profile URL:
            <span class='help-inline'>
              <a style='font-size:10px;' id='ks-profile-help' rel='popover' href='#' data-original-title='Kickstarter Profile URL' data-content='You can get your kickstarter profile URL by logging into Kickstarter, going to your profile page, and copy and pasting the link here. <br><br> It will be in the format <b>http://kickstarter.com/profile/your-name-or-id</b>'>What is this?</a>
            </span>
          </label>
        <div class="controls">
          <input id="ks-profile" name="ks-profile" type="text" class='input-xlarge' placeholder="http://kickstarter.com/profile/jeffhull">
        </div>
      </div>
      <div id='your-link'>
        <textarea id='your-link-area' class='input-xlarge'>
        </textarea>
      </div>
      <button id='go' type="button" onclick='display_url()' class="btn btn-primary" style='float:right;'>
        {% if lead_type == 'backer' %}
          Start Earning Kickbacks!
        {% else %}
          Sign Up!
        {% endif %}
      </button>
  </fieldset>
  </form>
</div>



{% endblock content %}
