{% extends 'base.html' %}

{% block header %}
 <script type='text/javascript' src='/static/js/kickbacker.js'></script>

 <script type='text/javascript'>
$(function () {
  $('#ks-url').keyup(function() {
    url = $('#ks-url').val();
    if (is_valid_kickstarter_url(url) == false) {
       $('#ks-url').addClass('error');
       $('#go').attr('disabled', 'disabled');
    } else {
       $('#ks-url').removeClass('error');
        if (is_valid_kickstarter_url($('#ks-profile').val()) == true) {
          $('#go').removeAttr('disabled');
        }
    }
  });
  $('#ks-profile').keyup(function() {
    url = $('#ks-profile').val();
    if (is_valid_kickstarter_url(url) == false) {
       $('#ks-profile').addClass('error');
       $('#go').attr('disabled', 'disabled');
    } else {
       $('#ks-profile').removeClass('error');
        if (is_valid_kickstarter_url($('#ks-url').val()) == true) {
          $('#go').removeAttr('disabled');
        }
    }
  });
});
</script>

{% endblock header %}

{% block content %}

<div class='signup'>
  <form class="form-vertical well" >
    <fieldset class="control-group">
      {% if project %}
            <input id="ks-url" name="url" type="hidden" value="{{ project['url'] }}">
      {% else %}
        <div class="control-group">
          <label class="control-label">Kickstarter Project URL: 
            <span class='help-inline'>
              <a style='font-size:10px;' href='#'>What is this?</a>
            </span>
          </label>
          <div class="controls">
            <input id="ks-url" name="url" type="text" class='input-xlarge' placeholder='http://kickstarter.com/projects/307436684/three-and-a-half-pike'>
          </div>
        </div>
      {% endif %}
      <div class="control-group">
        <label class="control-label">Kickstarter Profile URL:
            <span class='help-inline'>
              <a style='font-size:10px;' href='#'>What is this?</a>
            </span>
          </label>
        <div class="controls">
          <input id="ks-profile" name="ks-profile" type="text" class='input-xlarge' placeholder="http://kickstarter.com/profile/jeffhull">
        </div>
      </div>
      <div id='your-link'>
        <textarea id='your-link-area' class='input-xlarge'>
        </textarea>
      </div>
      <button id='go' type="button" onclick='display_url()' class="btn btn-success" style='float:right;'>Earn Kickbacks!</button>
  </fieldset>
  </form>
</div>

{% endblock content %}
