{% extends 'base.html' %}

{% block header %}
  {% if lead_type == 'backer' %}
      <script type='text/javascript' src='/static/js/bootstrap-tooltip.js'></script>
      <script type='text/javascript' src='/static/js/bootstrap-popover.js'></script>
      <script type='text/javascript'>
        $(function () {
            $('#prize-desc-pop').popover({'placement':'bottom'});
        });
      </script>
  {% endif %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="span7 well">
    <div class='buzzword-head'>
    {% if lead_type == 'backer' %}
     <h1>Win KickBacks by Spreading the Word</h1>
    {% elif lead_type == 'owner' %}
      <h1>Your Backers are Your Biggest Fans</h1>
    {% endif %}
    </div>

    {% if lead_type == 'backer' %}
    <div class='buzzword-wrapper'>
      <div class="buzzword-elem">
          <p class="lead">
            <br>
              Drive the most people to the project page of <b>{{ project.name }}</b> using your <b>KickBacker</b> link and win.
          </p>
          <div id='project-{{project.id}}' class='index-project-leaderboard'>
            <p>
            <a href="http://kickstarter.com/{{project.link}}"><img src='{{project.img}}' width='215px' class='thumb'></a>
            
           <b> Winning KickBacker Receives:</b><br>{{ project.backer_prize.desc| truncate(350) }}
              {% if project.backer_prize.desc|length > 350 %}
                <a rel='popover' id='prize-desc-pop' href='#' data-original-title='{{project.backer_prize.title}}' data-content='{{project.backer_prize.desc}}'>Full Description</a>
              {% endif %}
            </p>
            <hr>
          </div>
      </div>
      <div class="buzzword-elem">
        <!--
        <div class="bw-screen">
              <img class="thumb" src="/static/img/kickstarter-badge-backer.png" width='185px'>
        </div>
        -->
        <div class="bw-text">
          <p class="lead">
              Signup for a <b>KickBacker</b> Link and Share with your network on Twitter, Facebook and elsewhere.
          </p>
        </div>
        <div class="bw-screen">
              <img class="thumb" src="/static/img/followers4.jpg" width='185px'>
        </div>
      </div>
    </div>
    {% else %}

    <div class='buzzword-wrapper'>
      <div class="buzzword-elem">
        <div class="bw-text">
          <p class="lead">
            <br>
             <b>Incentivize</b> your backers to spread the word about your project. <b>Reward</b> them for using their network to drive more backers to your project page.
          </p>
        </div>
        <div class="bw-screen">
              <img class="thumb" src="/static/img/backers-listed.png" width='225px'>
        </div>
      </div>
      <div class="buzzword-elem">
        <div class="bw-text">
          <p class="lead">
              Signup for <b>KickBacker</b>, share your personalized link with existing backers, and get closer to funding your project!
          </p>
        </div>
        <div class="bw-screen">
              <img class="thumb" src="/static/img/kickstarter-badge-backer.png" width='185px'>
        </div>
      </div>
    </div>
  {% endif %} <!-- end separation of owner/backer template -->
  </div>
  <div class="span4">
  {% include 'get_project.html' %}
  {% include 'help_project.html' %}
  </div>
</div>

{% endblock content %}
