{% extends 'base.html' %}

{% block header %}
    <link rel="stylesheet" href="/static/css/jquery.countdown.css" />



    <script type='text/javascript' src='/static/js/bootstrap-tooltip.js'></script>
    <script type='text/javascript' src='/static/js/bootstrap-popover.js'></script>
    <script type='text/javascript' src='/static/js/jquery.countdown.min.js'></script>

    <script type='text/javascript'>
      $(function () {
          $('#prize-desc-pop').popover({'placement':'bottom'});
        var newYear = new Date(); 
        newYear = new Date(newYear.getFullYear() + 1, 1 - 1, 1); 
        console.log(newYear);
        $('#defaultCountdown').countdown( {until: newYear} );
        console.log($('#defaultCountdown'));
      });
    </script>

{% endblock header %}

{% block content %}

<input name='project-vals' type=hidden value="{{project}}">
<input name='share' type=hidden value="{{share}}">

<div id='project-{{project.id}}' class='project-leaderboard'>
    <div class='project-leaderboard-container well' >
      <div class='project-leaderboard-desc'>
        <a target="_blank" href="{{project.link}}">
          <img src='{{project.img}}' width='150px' class='thumb'>
        </a>
        <h1>Kickbacker Leaderboard</h1>
         <div class="caption">
          <a target="_blank" href="{{project.link}}">
            <span class='project-title'>{{ project.name }}</span>
          </a>
          <p>
            <span class='project-author'>by <a target="_blank" href="{{project.author_link}}">{{project.author}}</a></span>
            <br><br>
            <span class='project-clicks'>{{ total_clicks }} Total Clicks</span>
            &nbsp;&nbsp;
            <span class='project-clicks'>{{ backers|length - has_fakes }} Kickbackers</span>
          </p>
        </div>
      </div>
      <div class='project-leaderboard-kickback' style='float:right;'>
        <div>
          <h3> Your KickBack</h3>
          <p class='prize-text'>{{ project.backer_prize.desc| truncate(200)|safe }}
          {% if project.backer_prize.desc|length > 199 %}
          <a rel='popover' id='prize-desc-pop' href='#' data-original-title='{{project.backer_prize.title}}' data-content='{{project.backer_prize.desc|safe}}'>Full Description</a>
          {% endif %}
          <br>
          <b>(A ${{project.backer_prize.value}} value)</b>
          </p>
          <a target='_blank' href='/new/{{project.id}}'>Become a KickBacker for this Project</a>
         <div class='hasCountdown' id='defaultCountdown' style="font-size:24px;color:green">&nbsp;</div>
        </div>
      </div>
</div>

<div class="backers-container" style='margin:10px;'>
  {% if has_fakes > 0 %}
    <div class='backer-wrap well'>
      <h3>There needs to be at least three KickBackers to win the prize. If you are already a KickBacker share your KickBacker link with your friends. If not, Sign up and <a target='_blank' href='/new/{{project.id}}'>become a KickBacker for this Project.</a></h3>
    </div> 
  {% endif %}
a
  {% for backer in sorted_backers %}
      {% if backers[backer].backer_type == 'sample' %}
    <div class='backer-wrap well' style='background-image:url(/static/img/sample.jpg);border:3px dotted #404040;'>
      {% else %}
    <div class='backer-wrap well'>
      {% endif %}
      <div id='backer-{{backer}}' class='backer' >
        <div class="backer-rank">
          {{ loop.index }}
        </div>
        <div class="backer-info">
          <img src='{{backers[backer].img}}' width='75' class="thumb">
          <h2>
            <a target="_blank" href="http://kickstarter.com/profile/{{ backer }}">
              {{ backers[backer].name }}
            </a>
          </h2>
          {% if backers[backer].location %}
            <i class="icon-globe"></i> {{ backers[backer].location }}
            <br>
          {% endif %}
          <i class="icon-user"></i> Since {{ backers[backer].key.created.strftime('%B %d') }}
        </div>
        <div class="backer-stats">
         <h1>
             {{ backers[backer].key.clicks }} Clicks
         </h1>
          <!--   <a target='_blank' href="{{kb_base_short}}{{ backers[backer].key.id }}">{{kb_base_short}}{{ backers[backer].key.id }}</a>-->
        </div>
        <div class="backer-badges">
         <h1>
             {{ backers[backer].key.rewards|length }} Rewards
         </h1>
             {% if backers[backer].key.rewards|length > 0 %}
              {% for reward in backers[backer].key.rewards %}
                <i class="icon-bookmark"></i> {{ reward }} <br>
              {% endfor %}
             {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
  {% include 'help_project.html' %}
  {% include 'share_modal.html' %}

{% endblock content %}

