{% extends 'base.html' %}

{% block header %}

  {% if share_info %}
    <script type='text/javascript' src='/static/js/bootstrap-modal.js'></script>
    <script type='text/javascript'>
     $('#myModal').modal('show');
    </script>
  {% endif %}

{% endblock header %}

{% block content %}

<input type=hidden value="{{project}}">

<div id='project-{{project.id}}' class='project-leaderboard'>
    <div class='project-leaderboard-container well' >
      <div class='project-leaderboard-desc'>
        <a href="http://kickstarter.com/{{project.link}}">
          <img src='{{project.img}}' width='150px' class='thumb'>
        </a>
        <h1>Kickbacker Leaderboard</h1>
        <div class="caption">
          <a href="http://kickstarter.com/{{project.link}}">
            <span class='project-title'>{{ project.name }}</span>
          </a>
          <p>
            <span class='project-author'>by <a href="http://kickstarter.com/{{project.author_link}}">{{project.author}}</a></span>
            <br><br>
            <span class='project-clicks'>{{ total_clicks }} Total Clicks</span>
            &nbsp;&nbsp;
            <span class='project-clicks'>{{ backers|length }} Kickbackers</span>
          </p>
        </div>
      </div>
      <div class='project-leaderboard-kickback' style='float:right;'>
        <div>
          <h3> Your KickBack</h3>
          <p class='prize-text'>{{project.backer_prize.desc}} 
          <b>(A ${{project.backer_prize.value}} value)</b>
          </p>
          <br>
          <a target='new' href='/new/{{project.id}}'>Become a KickBacker for this Project</a>
       <!-- TODO 
         <span style="font-size:24px;color:green">24d 12h 22m Remaining</span>
        -->
        </div>
      </div>
</div>

<div class="backers-container" style='margin:10px;'>
  {% for backer in sorted_backers %}
    <div class='backer-wrap well'>
      <div id='backer-{{backer}}' class='backer'>
        <div class="backer-rank">
          {{ loop.index }}.
        </div>
        <div class="backer-info">
          <img src='{{backers[backer].img}}' width='75' class="thumb">
          <h2>
            <a href="http://kickstarter.com/profile/{{ backer }}">
              {{ backers[backer].name }}
            </a>
          </h2>
          {% if backers[backer].location %}
            <i class="icon-globe"></i> {{ backers[backer].location }}
            <br>
          {% endif %}
          <i class="icon-user"></i> Since {{ backers[backer].key.created.strftime('%B %d') }}
        </div>
        <div class="backer-stats">
         <h1>
             {{ backers[backer].key.clicks }} Clicks
         </h1>
             <a target='_blank' href="{{kb_base_short}}{{ backers[backer].key.id }}">{{kb_base_short}}{{ backers[backer].key.id }}</a>
        </div>
        <div class="backer-badges">
         <h1>
             {{ backers[backer].key.rewards|length }} Rewards
         </h1>
             {% if backers[backer].key.rewards|length > 0 %}
              {% for reward in backers[backer].key.rewards %}
                <i class="icon-bookmark"></i> {{ reward }} <br>
              {% endfor %}
             {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>


<!-- Project Create Info Modal -->
<!-- Called when share_info is True -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Share this link with your Network!</h3>
  </div>
  <div class="modal-body">
    <div id='your-link'>
      <textarea id='your-link-area' class='input-xlarge'>
        {{ project.kb_url }}
      </textarea>
      <span class='help-inline'>
          Copy Your Link, Share with your Backers and Go!
      </span>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

{% endblock content %}

